.datos{
    display: flex;
    align-items: center;
    justify-content: center;
   
   
    main {
        h2 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 50px;
        }
        
        .container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
        
        .col {
          flex-basis: 30%;
          margin-bottom: 20px;
          
          p {
            font-size: 20px;
            margin-bottom: 10px;
          }
          
          a {
            color: #007bff;
            text-decoration: none;
            
            &:hover {
              text-decoration: underline;
              }
            }
          }
        }
      }
    .search {
      width: 100%;
      min-height:100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      .Icon buscar.jpg {
        width:10%
      }


      
      
    