@media screen and (max-width: 375px) {
	.partearriba {
		display: flex;
		padding: 2px;
		display: flex;
		flex-direction: column;
	}
	.menu {
		display: flex;
		flex-wrap: wrap;
		padding: 2px;
	}
	.logo {
		width: 10%;
	}
}
