.Presentacion {
	width: 100px;
	margin-top: 15px;
	font-family: $font-family_1;
	font-size: 20px;
  text-align: center;
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.anim-typewriter{
    animation: typewriter 3s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 23em;}
  }
}
.fotoperfil {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  