.Recetas {
	width: 200px;
	margin-top: 15px;
	font-family: $font-family_1;
	font-size: 22px;
}
body {
	background: ivory;
	font-family: $font-family_2;
	margin: 0;
}
.box {
	margin: 100px auto;
	width: 300px;
	height: 50px;
}
header {
	background-color: $background-color_1;
	text-align: center;
	padding: 20px;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipes {
	width: 80%;
	margin: 20px 0;
	h2 {
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.recipe-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
